.HomePage {
    section {
        @apply mb-12;
    }

    .Header {
        .container-fluid {
            @apply flex justify-between;

            a {
                @apply inline-block bg-foreground text-background rounded-sm py-2 px-4;
            }

            .left-side,
            .right-side {
                @apply flex gap-8;
            }
        }
    }

    .Links {
        .container-fluid {
            .categorized-links-wrapper {
                @apply mb-12;

                h2 {
                    @apply text-body-label-text font-semibold mb-4;
                }

                .links-wrapper {
                    @apply grid grid-cols-8 gap-8 items-start;

                    .link {
                        @apply flex flex-col items-center justify-center gap-2;

                        .icon {
                            @apply w-12 h-12 bg-highlight rounded-lg relative flex items-center justify-center overflow-hidden p-1;

                            &:not(:has(img[src]))::after {
                                content: attr(data-letter);
                                @apply text-foreground font-bold text-lg;
                            }

                            img {
                                @apply w-full h-full object-cover;
                            }

                            img[src=""] {
                                display: none;
                            }
                        }

                        a {
                            @apply font-medium overflow-hidden text-center block w-[95%];
                            text-overflow: ellipsis;
                            line-clamp: 2;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            word-break: break-word;
                        }
                    }
                }
            }
        }
    }

    .Affiliates {
        .container-fluid {
            a {
                @apply text-blue-200;
            }

            h2 {
                @apply text-heading-text mb-4;
            }

            .copy-btn {
                @apply bg-highlight py-1 px-[0.9rem] rounded-[30px] ml-4 text-body-label-text font-semibold;
            }
        }
    }
}